* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.flex-slider
{
  display: flex !important;
}
.none-slider
{
display: none !important;
}
#moreID {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  background: red;
  z-index: 200;
}
.element {
  width: 100%;
}
#top {
  width: 53px;
  height: 53px;
  background: rgba(107, 100, 100, 0.705);

  position: fixed;
  bottom: 24px;
  right: 35px;
  font-size: 2.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#top a {
  color: rgba(20, 19, 19, 0.911);
}

#slider {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.507);
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 85;
  flex-direction: column;
}
#sliderPhoto {
  width: 325px;
  height: 325px;
  background: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2em;
  position: fixed;
  z-index: 444;
}
#sliderPhoto img {
  position: absolute;
  width: 100%;
  height: 100%;
}
#sliderPhoto .detalis {
  position: absolute;
  bottom: -75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: black;
  color: white;
  font-size: 0.45em;
}

#slider .close {
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 900;
  right: 50px;
  top: 104px;
  color: white;
  text-align: center;
  align-items: center;
}
#slider .close i {
  color: white;
  font-size: 3.5em;
}
#slider #sliderPhoto .closeM {
  background: rgb(0, 0, 0);
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
  justify-content: center;
}
#slider #sliderPhoto .close i {
  font-size: 0.8em;
}
#sliderPhoto .leftright {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  align-items: center;
  position: relative;
  z-index: 10;
}
#sliderPhoto .leftright fa {
  padding: 8px;
}

.title {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  align-items: center;
}
.title h2 {
  width: auto;
  height: auto;
  background: rgba(212, 204, 204, 0.596);
  padding: 17px 20px;
  padding-bottom: -20px;
  text-align: center;
}

/* menu ///////////////////////////////////////////////////////////// */

.element.menu {
  position: sticky;
  z-index: 50;
  top: 0;
  height: 80px;
  background: rgb(20, 20, 20);
  width: 100%;
  color: white;
}
.element.menu .responsive {
  width: inherit;
  height: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  font-size: 1.4em;
}
.element.menu .responsive .logo {
  width: 35px;
  height: 35px;
}
.element.menu .responsive .logo img {
  width: 100%;
  height: 100%;
}
.element.menu .items {
  width: inherit;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.element.menu .items .logo {
  width: 35px;
  height: 35px;
}
.element.menu .items .logo img {
  width: 100%;
  height: 100%;
}
.element.menu .items .item a {
  color: white;

  padding: 8px 15px;
}
.element.menu .items .item a:hover {
  transition: 0.6s;
  background: rgb(107, 101, 101);
}
/* home ///////////////////////////////////////////////////////////// */

.element.home {
  height: 500px;
  position: relative;
  background: url("../img/homebg.png") no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.4em;
  align-items: center;
  justify-content: center;
}
.element.home #title {
  padding: 14px 50px;
  position: absolute;
  top: 85px;
  background: rgba(85, 82, 82, 0.514);
}
.element.home #title h1 {
  padding: 10px 0px;
}
.element.home #down {
  width: 100px;
  font-size: 1.8em;
  padding: 10px 0px;
  background: rgba(201, 197, 191, 0.747);
  position: absolute;
  bottom: 32px;
}
.element.home #down:hover {
  background: rgba(201, 197, 191, 0.932);
  transition: 0.6s;
}
.element.home #down a {
  color: black;
  font-size: 1.2em;
}

/* about ///////////////////////////////////////////////////////// */

.element.about {
  min-height: 540px;
  position: relative;
  background: rgb(226, 226, 226);
  text-align: center;
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
}
.element.about h2 {
  padding-top: 90px;
  width: 100%;
}

.element.about .content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.element.about .content .aboutphoto {
  width: 35%;
  display: flex;
  justify-content: center;
  height: 300px;
  padding-left: 50px;
}
.element.about .content .aboutphoto img {
  width: 70%;
  display: flex;
  justify-content: center;
  height: 90%;
}

.element.about .content .aboutText {
  display: flex;
  width: 34%;
  height: 300px;
  align-items: center;
  text-align: center;
}

/* products  /////////////////////////////////////////////////////////////*/

.element.products {
  height: auto !important;
  text-align: center;
  background: url("../img/products.png");
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  background-attachment: fixed;
  padding-top: 85px;
}

.product img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  box-shadow: 5px 7px #888888c5;
}
.element.products .articles .productmore {
  width: 21%;
  height: 290px;
  padding: 20px;
  display: none;
  flex-direction: column;
  position: relative;
  top: 0px;
  margin-bottom: 15px;

}
.productmore img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  animation: product 1.4s ease-in-out;
  box-shadow: 5px 7px #888888c5;


}
.element.products .articles .productmore .productDet
{
  background: rgb(95, 89, 89);
  color: white;
  text-transform: uppercase;
  padding: 13px 0px;
  margin-top: -4px;
  box-shadow: 5px 7px #888888c5;
  position: relative;
  z-index: 10;

}
.element.products .articles {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 40px;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 48px;
}

.element.products .articles .product {
  width: 21%;
  height: 290px;
  padding: 20px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0px;
  margin-bottom: 15px;

}
.element.products .articles .product .productDet {
  background: rgb(95, 89, 89);
  color: white;
  text-transform: uppercase;
  padding: 13px 0px;
  box-shadow: 5px 7px #888888c5;
}
.a-none {
  display: none !important;
  flex-wrap: wrap;
  justify-content: space-around;
}
.a-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.button-more {
  width: 100%;
  position: relative;
  margin-top: 56px;
  display: flex;

  justify-content: center;
  height: 30px;
  top: 0px;
  text-align: center;
}
.button-more .more {
  height: 30px;
  width: auto;
  align-items: center;
  position: relative;
  padding: 17px 40px;
  padding-bottom: 30px;
  bottom: 0;
  background: rgb(53, 53, 53);
}
.button-more .more:hover {
  background: rgb(85, 83, 83);
  transition: 0.6s;
}
.button-more .more p {
    color: white;
  }

/* contact /////////////////////////////////////////////////////////////*/
.errorBorder
{
  border-color:rgb(122, 0, 0) !important;
}
.element.contact {
  min-height: 480px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: url("../img/contact.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  flex-wrap: wrap;
  padding-top: 85px;
  padding-bottom: 30px;
}

.element.contact .contact-content {
  width: 100%;
  min-height: 500px;
  display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;

}
.element.contact .contact-content .contactForm {
  width: 50%;
  background: rgba(0, 0, 0, 0.295);
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
}
.element.contact .contact-content .contactForm {
  width: 100%;
  display: flex;
  justify-content: center;
}
.element.contact .contact-content .contactForm {
  display: flex;
  width: 53%;
  justify-content: center;
  padding: 35px 0px;
}
.element.contact .contact-content .contactForm p {
  font-size: 1.7em;
  color: black;
  font-weight: bold;
  padding:10px 0px;
}

input[type="text"],
textarea {
  background: rgb(247, 233, 233);
  resize: none;
  width: auto;
  border: none;
  width: 57%;
  padding: 2px 0px;
  cursor: pointer;
  border: 2px solid rgb(95, 94, 94);
}
input[type="text"] {
  padding: 10px 9px;
}
textarea {
  height: 108px;
  padding: 11px 9px;

}
#send {
  width: 57%;
  border: none;
  padding: 15px 0px;
  margin-top: 26px;
  background: rgb(51, 51, 51);
  color: white;
}
#send:hover {
  background: rgb(90, 88, 88);
  transition: 0.8s;
}
input[type="text"]:focus,
textarea:focus {
  border: none;
  outline: none;
  border: 3px solid rgb(20, 20, 20);
  transition: 0.6s;
}
#errorList
{
  display: flex;
  margin-top: 10px;
  justify-content: left;
  flex-direction: column;

}
#errorList li p
{
  background: rgba(255, 250, 250, 0.685);
  font-size: 1.4em;
  padding: 4px 18px;
  color: rgba(177, 9, 9, 0.842);
}
/* service /////////////////////////////////////////////////////////////*/

.element.service {
  min-height: 450px;
  background: rgb(244, 244, 255);
  padding-bottom: 75px;
}
.element.service .content-service {
  position: relative;
  top: 25px;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.element.service .title {
  padding-top: 130px;
}
.element.service .content-service .photo-service {
  width: 300px;
  height: 250px;
  padding-bottom: 50px;
}
.element.service .content-service .photo-service img {
  width: 100%;
  height: 100%;
  opacity: 0.1;
}
.element.service .text-service {
  width: 100%;
  height: 270px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.element.service .text-service #info {
  display: flex;
  justify-content: center;
  width: 74%;
  height: auto;
  text-align: center;
  font-size: 1.7em;
}
.element.service .text-service #info-button {
  width: auto;
  height: auto;
  padding: 10px 32px;
  background: rgb(53, 53, 53);
  color: white;
}
.element.service .text-service #info-button:hover {
  background: rgb(85, 83, 83);
  transition: 0.6s;
}
.element.service .text-service #info-button a {
  color: white;
}

/* author  ////////////////////////////////////////////////////////////////////////////////*/

.element.author {
  min-height: 450px;
  background: rgb(226, 226, 226);
  padding: 58px 0px;

}

.element.author .title {
  padding-top: 17px;
}
.element.author #authorInfo {
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.element.author #authorInfo #authorphoto {
  width: 180px;
  height: 180px;
  z-index: 10;
  position: relative;
  left: 25px;
  border-radius: 50%;
  border: 6px solid rgba(14, 11, 11, 0.76);
}
.element.author #authorInfo #authorphoto img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.element.author #authorInfo #authorText {
  width: 350px;
  padding:20px 0px;
  min-height: 130px;
  background: rgb(165, 172, 166);
  align-items: center;
  text-align: center;
  position: relative;
  top: 5px;
  right: 3px;
}
.element.author #authorInfo #authorText #myDesc {
  width: 91%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.4em;
  float: right;
}
.element.author #authorInfo #authorText #myDesc p label {
  font-weight: bolder;
}

/* copy //////////////////////////////////////////////////////////////////////////*/

.element.copy {
  min-height: 36px;
  background: rgb(173, 173, 177);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
}
.element.copy .social {
  width: 180px;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.element.copy .social a {
  color: white;
  padding: 6px;
}
.element.copy .social a:hover {
  color: black;
  transition: 0.8s;
}
.Documentation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Documentation a {
  color: black;
  font-weight: 1.3em;
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid black;
}
.Documentation a:hover {
  background: white;
  transition: 0.8s;
}
.element.copy .copyText {
  width: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* animation */
@keyframes item {
  0% {
    left: -180px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes item2 {
  0% {
    right: -180px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@keyframes more {
  0% {
    top: -290px;
  }
  100% {
    top: 0px;
  }
}
@keyframes product {
  0% {
    height: 0%;
    width: 10%;
  }
  100% {
    height: 100%;
    width: 100%;
  }
}

.anm-more {
  position: relative;
  top: 0px;
  animation: 1.4s more ease-in-out !important;
}
.anm-manje {
  animation: none !important;
}

div
  a[title="Hosted on free web hosting 000webhost.com. Host your own website for FREE."] {
  display: none;
}

@media screen and (max-width: 738px) {
  .element.about .content .aboutphoto img {
    width: 82%;
    height: 90%;
  }
  .element.products .articles .product {
    width: 40%;
    flex-direction: column;
    padding-bottom: 48px;
  }
  .element.products .articles .productmore
  {
    width: 40%;
    flex-direction: column;
    padding-bottom: 48px;
  }
  .element.products .articles-ostali .product {
    width: 40%;
    flex-direction: column;
    padding-bottom: 48px;
  }
  .element.products .articles {
    padding-bottom: 2px;
  }
}
@media screen and (max-width: 670px) {
  .element.menu {
    flex-direction: column;
  }
  .element.menu .items {
    text-align: center;
    position: relative;
    top: 82px;

    width: 100%;
    flex-direction: column;
  }
  #slider #sliderPhoto .closeM {
    display: flex;
  }
  #slider .close {
    display: none;
  }
  .element.menu .items .item {
    background: rgba(48, 48, 48, 0.938);
    position: relative;
    width: 100%;
    animation: 1.5s item;
    padding: 13px 0px;
  }
  .element.menu .items .item2 {
    animation: item2 1.5s;
  }

  .element.menu .responsive {
    display: flex;
  }
  .d-none {
    display: none !important;
  }
  .d-flex {
    display: flex;
  }
  .element.about .content {
    flex-direction: column-reverse;
    display: flex;
    justify-content: center !important;
  }
  .element.about .content .aboutText {
    width: 100%;
    display: flex;
    height: auto;
    padding: 58px 0px;
    justify-content: center !important;
  }
  .element.about .content .aboutphoto {
    width: 100%;
    padding-left: 0px;
    height: auto;
  }
  .element.about .content .aboutphoto img {
    width: 170px;
    height: 180px;
    position: relative;
    top: -30px;
  }
  .element.contact .contact-content .contactForm {
    width: 82%;
  }
  .element.contact .contact-content .contactForm textarea,#send,input[type='text']
  {
    width:82%;
  }
  .element.copy {
    flex-direction: column-reverse;
    padding-top: 15px;
  }
  .element.copy .social,
  .Documentation,
  .copyText {
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 580px) {
  .element.home {
    height: 381px;
  }
}

@media screen and (max-width: 489px) {
  .element.contact .contact-content .contactForm {
    width: 100%;
  }
  .element.contact .contact-content .contactForm textarea,#send,input[type='text']
  {
    width:97%;
  }
}
@media screen and (max-width: 342px) {
  .element.author #authorInfo #authorText {
    width: 280px;
  }
}
@media screen and (max-width: 382px) {
  .element.products .articles .product {
    width: 65%;
    flex-direction: column;
    padding-bottom: 48px;
  }
  
  .element.products .articles-ostali .product {
    width: 65%;
    flex-direction: column;
    padding-bottom: 48px;
  }
  .element.products .articles .productmore
  {
    width: 65%;
    flex-direction: column;
    padding-bottom: 48px;
  }
  .element.products .articles {
    padding-bottom: 3px;
  }
  .element.author #authorInfo {
    flex-direction: column;
    top: 0px;
  }
  .element.author #authorInfo #authorphoto {
    left: 0px;
    top: 22px;
  }
}
